<h1 class="m-3">Editar Manutenção</h1>

<%= render 'form', maintenance: @maintenance, locals: { button_label: 'Editar Manutenção' } %>

<%= link_to 'Detalhes', @maintenance %> |
<%= link_to 'Voltar', maintenances_path %>
