<h1 class="m-3">Editar Tanque de Combustível</h1>

<%= render 'form', fuel_tank: @fuel_tank, locals: {button_label: 'Editar Tanque'} %>

<%= link_to 'Detalhes', @fuel_tank %> |
<%= link_to 'Voltar', fuel_tanks_path %>
