<h1 class="m-3">Editar Veículo</h1>

<%= render 'form_edit', vehicle: @vehicle, locals: { button_label: 'Editar Veículo' } %>

<%= link_to 'Detalhes', @vehicle %> |
<%= link_to 'Voltar', vehicles_path %>
